.page-head {
	height: 90px;
	background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
}

@media (min-width: 768px) {
   .page-head {
    height: 120px;
   }
}

@media (min-width: 992px) {
   .page-head {
    height: 150px;
   }
}

@media (min-width: 1200px) {
   .page-head {
    height: 200px;
   }
}
